.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  height: 45px;
  padding: 12px 26px;
  background-color: $main-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
