.consultation {
  background: url("../img/second_bg.png") center center/cover no-repeat;
  min-height: 680px;
  padding: 100px 0 108px;
  &__descr {
    font-weight: 300;
    font-size: 20px;
    align-items: flex-end;
    color: #ffffff;
  }

  .error {
    border: $main-color solid 1px;
  }
  label.error {
    color: #fff;
    text-align: center;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
