.reviews-block {
  display: flex;
  justify-content: space-between;
  &__img {
    width: 170px;
    height: 170px;
    border-radius: 100%;
  }
  img {
    width: 100%;
  }
  &__desc {
    margin-bottom: 60px;
    max-width: 680px;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #0d0d0d;
    div {
      font-weight: 500;
      font-size: 14px;
      line-height: 40px;
      color: #646464;
      margin-bottom: 10px;
    }
    span {
      line-height: 44px;
      &:last-child {
        line-height: 40px;
      }
    }
  }
}
